@define-color remote_headerbar_bg_color       shade(@purple_5, 0.6);
@define-color remote_headerbar_backdrop_color shade(@purple_5, 0.45);

.remote-row list {
  background-color: @remote_headerbar_bg_color;
  color: @light_1;
}
