@define-color remote_headerbar_bg_color       shade(@purple_1, 1.27);
@define-color remote_headerbar_backdrop_color shade(@purple_1, 1.35);

.remote .top-bar {
  background-color: @remote_headerbar_bg_color;
}

.remote:backdrop .top-bar {
  background-color: @remote_headerbar_backdrop_color;
}

/* Unset remote styling for dialogs */
.remote dialog .top-bar {
  background-color: initial;
}

.remote:backdrop dialog .top-bar {
  background-color: initial;
}

.remote-row list {
  background: @remote_headerbar_bg_color;
}

.thin-progressbar trough, .thin-progressbar progress{
  min-height: 5px;
}

.bubble {
  border-radius: 50%;
  background: @insensitive_fg_color;
  color: @accent_fg_color;
  min-width: 30px;
  min-height: 30px;
}

.bubble.large {
  min-width: 86px;
  min-height: 86px;
}

.active.bubble{
  background-color: @accent_bg_color;
}

.inactive progressbar progress {
  background-color: @insensitive_fg_color;
  border-color: @insensitive_fg_color;
}

.inactive .heading:not(.bubble) {
  color: @insensitive_fg_color;
}

.queue-button button {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 1px;
  padding-right: 1px;
  min-height: 18px;
}

.queue-button button:last-child{
  margin-top: -2px;
}

.notice-row {
  font-weight: bold;
  box-shadow: none;
}

.dialog-button > box, .dialog-button > button > box  {
  margin-top: 6px;
  margin-bottom: 5px;
}

.dialog-button, .dialog-button .toggle {
  border-radius: 12px;
}

.dialog-button image {
  margin-bottom: 4px;
}

listview.card {
  border-radius: 0;
  color: @card_fg_color;
  background: @card_bg_color;
}

listview.card row:hover{
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* Remove default adwaita style */
.drop-widget:drop(active):focus,
.drop-widget:drop(active) {
  box-shadow: none;
}

/* Drag overlay */
.dragging-area-highlight {
  border-radius: 8px;
  background-color: alpha(@blue_2, 0.35);
  margin: 24px;
}

